.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/src/assets/profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}
