.profile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
